<h1>Listing courses</h1>

<table>
  <thead>
    <tr>
      <th> Date </th>
      <th> Course </th>
      <th> Class Description</th>
      <th> Trainer</th>
      <th> Supporting materials</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
         <td><%= course.date.strftime("%m/%d/%Y, %I:%M%p") %></td>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.trainer %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
