
<p>
 
 <%= image_tag(@course.photo_url, :width => 300) if @course.photo.present? %>
</p>
<p>
  <strong>Date:</strong>
  <%= @course.date.strftime("%m/%d/%Y, %I:%M%p") %>
</p>
<p>
  <strong>Course:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Trainer:</strong>
  <%= @course.trainer %>
</p>
<p>
<%= link_to("Suport de curs", @course.picture_url) if @course.picture.present? %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
